*{
	font-family: arial;
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
}

#mainContainer{
	width: 750px;
	margin: 0 auto;
}

#messageList{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#messageList > li{
	width: 100%;
	margin-bottom: 10px;
}

#messageList > li > a{
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	color: black;
	background-color: rgba(30, 120, 40, 0.1);
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	transition: 0.4s;
}

#messageList > li > a:hover{
	background-color: rgba(30, 120, 40, 0.9);
	color: white;
}

#messageList > li > a > div{
	display: inline-block;
}

#from{
	width: 45%;
	padding-left: 15px;
}

#on{
	text-align: center;
	width: 40%;
}

header{
	width: 85%;
	text-align: center;
	font-size: 30px;
	padding:15px 0;
	margin: 0 auto;
	margin-bottom: 40px;
	background-image : url("/static/common/images/Header_Background.jpg");
	background-size: 100% 100%;
	color: white;
	border: double white;
	border-top: none;
}